---
import Base from '../layouts/Base.astro';
---
<Base title="@groteworld">
  <!-- Public Domain video https://vimeo.com/113859233 -->
  <video id="video-frame" class="video-frame" autoplay preload="auto" muted onended="this.play()">
    <source src="/assets/questions-for-us-all.mp4" type="video/mp4">
  </video>
  <div class="the-whole-thing">
    <div class="who-am-i">groteworld</div>
    <div class="contacting-me">
      <a href="https://instagram.com/groteworld"><i class="fa fa-instagram"></i></a>
      <a href="https://github.com/groteworld"><i class="fa fa-github-alt"></i></a>
      <a href="https://blog.grote.world"><i class="fa fa-rss-square"></i></a>
    </div>
    <div onclick="toggleMute()" id="mute-btn" class="mute-btn"><i class="fa fa-volume-off"></i></div>
    <ul id="games-dropdown" class="games-dropdown">
      <li class="games-title">games</li>
      <li class="game"><a href="/games/mighty-mansion-wrestling/">Migthy Mansion Wrestling</a></li>
      <li class="game"><a href="/games/monster-mash/">Monster Mash</a></li>
      <li class="game"><a href="/games/nineteen-ninety-five/">1995</a></li>
      <li class="game"><a href="/games/pandameownium/">PandaMEOWnium</a></li>
      <li class="game"><a href="/games/please-dont-leave-me/">Please don't leave me!</a></li>
    </ul>
  </div>

  <style>.groteworld { color: #2c1b58 }</style>
  <script is:inline>
    function toggleMute() {
      const video = document.getElementById("video-frame");
      const mute = document.getElementById("mute-btn");
      video.muted = !video.muted;
      mute.innerHTML = video.muted ? '<i class="fa fa-volume-off"></i>' : '<i class="fa fa-volume-up"></i>';
    }
  </script>
</Base>
